html {
    font-family: verdana;
}

.header {
    text-align: left;
    height: 160px;
    /*background-position: bottom;
    background-image: url("../images/clouds_header.png");
    background-repeat: repeat-x;
    background-size: 600px 100px;
    background-position-x: 300px;      */           
}

body {
    margin: 0;
    background-color: #3275A8;
    font-size: 11px;
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
  }
  
h1 {
    color: black;
    text-align: center;
  }

h3 {
    color: black;
    text-align: center;
  }

.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.resume_cat {
    float: left;
    text-align: left;
    width: 30%;
    background-color: #FFFFFF;
}

.resume_body {
    text-align: left;
    flex: 1;
    background-color: #FFFFFF;
}

.center {
    text-align: center;
}

.table {
    margin: 0 auto;
}

.footer {
    height: 120px;
    display: flex;
    text-align: center;
    /*background-position: top;
    background-image: url("../images/clouds_footer.png");
    background-repeat: repeat-x;
    background-size: 600px 100px;*/
}

table, td {
    vertical-align: top;
    padding: 5px;
    border-spacing: 5px;
    border-collapse: separate;
}