html {
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 50px;
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;;
    
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 450%;
}

.quote {
    font-style: italic;
    font-size: 110%;
}

body {
    margin: 0;
    font-size: smaller;
    background-image: linear-gradient(to right, rgb(223, 229, 241) , rgb(132, 180, 219));
}
  
h1, h3, h4 {
    color: black;
    text-align: center;
}

.resume_container {
    background-color: #FFFFFF;
    width: 100%;
}

.resume_body {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(62, 102, 138)
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.table {
    margin: 0 auto;
}

.tabletop {
    margin: 0 auto;
    text-align: right;
}

.footer {
    height: 120px;
}

a:link {
    color: black;
  }

a:visited {
    color: black;
  }

  a:hover {
    color: gray;
  }