html {
    font-family: verdana;
}

.header {
    height: 150px; 
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: flex-end; 
    background-color: #97cef8;
}

body {
    margin: 0;
    margin-top: 150px;
    font-size: 11px;
}
  
h1 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

.resume_body {
    text-align: left;
    background-color: #FFFFFF;
    max-width: 100%;
}

.center {
    text-align: center;
}

.table {
    margin: 0 auto;
}

.footer {
    height: 120px;
    display: flex;
    text-align: center;
    background-color: #97cef8;
}

table, td {
    vertical-align: top;
    padding: 5px;
    border-spacing: 5px;
    border-collapse: separate;
}